.header {
    background-color: #A68444;
    display: flex;
    padding-block: 1rem;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    width: 15.375rem;
    height: 8.125rem;
    position: relative;
}
.logo-container img {
    width: inherit;
    height: inherit;
}
.logo-container p {
    color: #FFF5D6;
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}
.nav-bar li {
    list-style: none;
}
.nav-bar a {
    cursor: pointer;
    color: #FFF5D6;
    text-decoration: none;
}
.nav-bar a:hover {
    color: #2A180A;
    text-decoration: underline;
}
.nav-bar .btn {
    padding: 0.875rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #2a180a;
}
.nav-bar .btn:hover {
    background-color: #FFF5D6;
    color: #2a180a;
    box-shadow: 0px 0px 2px 3px #2a180a4d;
}
.menu-container {
    cursor: pointer;
    display: none;
}
.menu-icon-close,
.menu-icon-burger {
    width: 2.5rem;
    height: 2rem;
    margin: 1rem;
}
.menu-icon-close {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu-icon-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-icon-close span,
.menu-icon-burger span {
    border: .2rem solid #2A180A;
}
.menu-icon-close span {
    position: absolute;
    width: 100%;
}
.menu-icon-close span:first-of-type {
    transform: rotate(.125turn);
}
.menu-icon-close span:last-of-type {
    transform: rotate(-.125turn);
}

@media (width <= 992px) {
    nav.nav-bar {
        display: none;
        position: absolute;
        top: 10.125rem;
        left: 0;
        background-color: #2a180a;
        right: 0;
    }
    #menu-toggle:checked ~ nav.nav-bar {
        display: block;
    }
    nav.nav-bar ul {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }
    nav.nav-bar li {
        font-size: 1.8rem;
        text-align: center;
        border-bottom: 1px solid #95835b;
    }
    nav.nav-bar a:hover {
        color: #a68444;
        text-decoration: none;
    }
    nav.nav-bar .btn {
        padding: 0.775rem 1.5rem;
        background-color: #a68444;
    }
    nav.nav-bar .btn:hover {
        box-shadow: 0px 0px 2px 3px #a684444d;
    }
    .menu-container {
        display: block;
    }
    #menu-toggle:checked ~ .menu-container .menu-icon-close{
        display: flex;
    }
    #menu-toggle:checked ~ .menu-container .menu-icon-burger{
        display: none;
    }
}