.titulo, .descricao {
    text-align: center;
}
.titulo {
    margin-block: 0.83em;
    color: #4F3709;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.12rem;
}
.descricao {
    color: #493205;
    font-family: serif;
    font-size: 2rem;
    margin-bottom: 5rem;
}

@media (width <= 600px) {
    .descricao {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
}