.vantagem {
    border-bottom: solid 1px #A68444;
}

.vantagem_header {
    gap: 4rem;
    background-color: #E6D9B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vantagem_header:hover {
    cursor: pointer;
}

.vantagem_header > h2 {
    color: #95835B;
    font-size: 2.5rem;
}

.vantagem_content {
    margin: 0 0 0 1rem;
    background-color: #DBCAA2;
    border-radius: 10px;
}

.vantagem_content > p {
    padding: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #95835B;
    font-size: 1.6rem;
}

@media (width <= 920px) {
    .vantagem_header {
        gap: 2rem;
    }
    .vantagem_header > h2 {
        font-size: 2rem;
    }
    .vantagem_content > p {
        font-size: 1.5rem;
    }
}

@media (width <= 600px) {
    .vantagem_header {
        gap: 1rem;
    }
    .vantagem_content {
        margin: 0;
    }
    .vantagem_content > p {
        padding: 1rem;
    }
}